---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                    <b>Cancer:</b>	
	<li><a href="https://www.cell.com/cancer-cell/fulltext/S1535-6108(19)30037-6">Anti-PD-1 Monotherapy and Anti-PD-1/Anti-CTLA-4 Combined Therapy</a></li>
	<li><a href="https://www.mdpi.com/2073-4425/12/10/1629">High-Dimensional Single-Cell Transcriptomics in Melanoma and Cancer Immunotherapy</a></li>

<b>Neurodegenerative diseases:</b>	
	<li><a href="https://www.nature.com/articles/s42003-021-01868-x">Distribution of microRNA profiles in pre-clinical and clinical forms of murine and human prion disease</a></li>

<b>Immunology:</b>
	<li><a href="https://www.mdpi.com/1422-0067/24/11/9334">Non-Antigenic Modulation of Antigen Receptor (TCR) Loop Modulates Signalling: Implications of External Factors Influencing T-Cell Responses</a></li>

<b>Virology:</b>
	<li><a href="https://www.mdpi.com/2075-4418/13/8/1364)">Multiplex RT Real-Time PCR Based on Target Failure to Detect and Identify Different Variants of SARS-CoV-2: A Feasible Method That Can Be Applied in Clinical Laboratories.</a></li>

 <b>Software and analysis tools:</b>
	<li><a href="http://israp.sourceforge.net/">iSRAP</a></li>
	<li><a href="http://www.funrich.org/">FunRich</a></li>

  <b>Large datasets:</b>
	<li><a href="https://www.ebi.ac.uk/ena/browser/view/PRJEB45779">Clinical and Molecular Heterogeneity in Patients with Innate Resistance to Anti-PD-1 +/− Anti-CTLA-4</a></li>
	<li><a href="https://www.ebi.ac.uk/ena/browser/view/PRJEB23709">Biomarkers of response and resistance to checkpoint blockade immunotherapy in metastatic melanoma</a></li>
</ul>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
